VITE_AUTH_SERVICE_URL=http://localhost:8081
VITE_USER_SERVICE_URL=http://localhost:8082
VITE_CONTRACT_SERVICE_URL=http://localhost:8083
VITE_REQUEST_SERVICE_URL=http://localhost:8084
VITE_NOTIFICATION_SERVICE_URL=http://localhost:8085
VITE_GATEWAY_URL=http://localhost:8080
